@import "../../../colors";

.card {
  max-width: 370px;
  min-width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: $white;
  text-align: center;
  line-height: 26px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cardImgWrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardTitle {
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
